
<div class="row mb-2 mb-md-3 mb-lg-5">

    <div class="technic-struct-container col-md-6 p-0 pe-md-3 ps-md-2 mb-2 mb-md-0">

        <div class="sm-border-none border rounded p-3 pb-1 h-100">

            <h4 class="mb-3">😙 Utile à retenir</h4>

            <div class="sources ps-md-3" style="word-break: break-all;">

                {% if technic.conclusion is not empty %}   
            
                    {{ technic.conclusion | raw }}

                {% else %}
                    
                    {{emptyAreaMessage}}
                
                {% endif %}

            </div>

        </div>

    </div>

        <div class="technic-struct-container sources col-md-6 p-0 pe-md-3 ps-md-2 mb-2 mb-md-0">

            <div class="sm-border-none border rounded p-3 pb-1 h-100">

                <h4 class="mb-3">🧐 Sources</h4>

                <div class="sources ps-md-3" style="word-break: break-all;">

                    {% if technic.sources is not empty %}   
                
                        {{ technic.sources | raw }}

                    {% else %}
                        
                        {{emptyAreaMessage}}
                    
                    {% endif %}

                </div>

            </div>

        </div>
    
    

    <style>

    
    </style>


</div>