
<div class="row mb-2 mb-md-3 mb-lg-5">

    
    
        <div class="technic-struct-container col-md-6 p-0 pe-md-3 ps-md-2 mb-2 mb-md-0"> {# wrapping container to add a gutter #}

            <div class="sm-border-none border rounded p-3 pb-1 h-100">
                
                <h4 class="mb-3">🤔 Le saviez-vous ?</h4>

                <div class="notes d-flex flex-column justify-content-center ps-md-3" style="min-height:75%;">

                    {% if technic.notes is not empty %}
                
                        {{ technic.notes | raw }}

                    {% else %}
                        
                        À compléter.

                    {% endif %}

                </div>
            
            </div>

        </div>


     

        <div class="col-md-6 p-0">

            <div class="technic-struct-container sm-border-none border rounded p-3 pb-1 h-100">

                <h4 class="mb-3">🚧 Utilisation actuelle</h4>

                <div class="sources ps-md-3">

                    {% if technic.status is not empty %}   
                
                        {{ technic.status | raw }}

                    {% else %}
                        
                        À compléter.

                    {% endif %}

                </div>

            </div>

        </div>
    

    <style>

    
    </style>


</div>