
{% if technic.progressBar is not empty %}


    <h4 class="p-0 mb-3">🌳 Réduction espérée{% if technic.progressBar < 15 %} - {{technic.progressBar}}%{% endif %}</h4>

    <div class="progress p-0">
        <div class="progress-bar" role="progressbar" style="width: {{technic.progressBar}}%" aria-valuenow="{{technic.progressBar}}" aria-valuemin="0" aria-valuemax="100">{% if technic.progressBar >= 15 %}{{technic.progressBar}}%{% endif %}</div>
    </div>


    <style>

        @media screen and (min-width: 820px) {

            .progress{
                height:23px;
            } 

        }
    
    </style>


{% endif %}
