
<div class="row mb-2 mb-md-3 mb-lg-5">

    
    
        <div class="technic-struct-container col-md-6 p-0 pe-md-3 ps-md-2 mb-2 mb-md-0"> {# wrapping container to add a gutter #}

            <div class="sm-border-none border rounded p-3 pb-1 h-100">
                
                <h4 class="mb-3">👍 Intérêts / avantages</h4>

                <div class="ps-md-3">

                    {% if technic.pros is not empty %}
                
                        {{technic.pros | raw}}

                    {% else %}
                        
                        {{emptyAreaMessage}}
                    
                    {% endif %}

                </div>
            
            </div>

        </div>


    

        <div class="technic-struct-container col-md-6 p-0">

            <div class="sm-border-none border rounded p-3 pb-1 h-100">

                <h4 class="mb-3">👎 Limites / inconvénients</h4>

                <div class="ps-md-3">

                    {% if technic.cons is not empty %}    
                    
                        {{technic.cons | raw}}

                    {% else %}
                        
                        {{emptyAreaMessage}}

                    {% endif %}

                </div>

            </div>

        </div>
    

</div>