{% extends 'base.html.twig' %}

{% block title %}Flycore{% endblock %}

{% block stylesheets %}
  <link href="/css/titled_projects_collection.css" rel="stylesheet">
  <link href="/css/show_more_less_button.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}<script src="/js/show_more_less_button.js"></script>
{% endblock %}

{% import "utilities/_macro_titled_collection.html.twig" as display %} {# project presentation cards #}
{% import "utilities/_macro_titled_technics_collection.html.twig" as displayTechnics %} {# technic presentation cards #}

{% block body %}

  <div class="page-container container-lg px-0 px-lg-3">


  
    {# Displaying registered user presentations

    {% if app.user %}

      {% set user_project_presentations = app.user.createdPresentations %}

      {% if user_project_presentations | length > 0 %}

        {{ display.collection("", user_project_presentations | reverse, "user-presentations") }}

      {% endif %}

      {% set user_technic_presentations = app.user.createdPresentations %}

      {% if user_project_presentations | length > 0 %}

        {{ display.collection("", user_project_presentations | reverse, "user-presentations") }} 

      {% endif %}

    {% endif %} #}

     <div id="homepage-jumbotron-struct-container" class="container col-xxl-11 px-0 px-md-4 px-lg-4">

        {% include "home/_jumbotron.html.twig" with {container_classes: ''} %}

        <style>


          @media screen and (min-width: 820px) {

            #homepage-jumbotron-struct-container{
              margin-top: 3rem;
              margin-bottom: 6rem;
              
            }
            
          }

        </style>

      </div>


    

      {{ displayTechnics.collection("Galerie des Techniques", technics | reverse, "", "hide-525") }}


      {{ display.collection("Galerie des Projets", lastInsertedProjects, "", "hide-525") }}


  </div> 

{% endblock %}