{% extends 'base.html.twig' %}

{% block title %}Flycore{% endblock %}

{% block stylesheets %}
  <link href="/css/titled_collection.css" rel="stylesheet">
  <link href="/css/project_card.css" rel="stylesheet">
  <link href="/css/technic_card.css" rel="stylesheet">
  <link href="/css/show_more_less_button.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}

  <script src="/js/show_more_less_button.js"></script>
  
{% endblock %}

{% import "utilities/_macro_titled_projects_collection.html.twig" as display %} {# project presentation cards #}
{% import "utilities/_macro_titled_technics_collection.html.twig" as displayTechnics %} {# technic presentation cards #}

{% block body %}

  <div class="page-container container-lg px-0 px-lg-3">

    <div id="homepage-jumbotron-struct-container" class="container col-xxl-11 px-0 px-md-4 px-lg-4">

        {% include "home/_jumbotron.html.twig" with {container_classes: ''} %}

        <style>


          @media screen and (min-width: 820px) {

            #homepage-jumbotron-struct-container{
              margin-top: 3rem;
              margin-bottom: 6rem;
              
            }
            
          }

        </style>

    </div>
  
    {# Displaying registered user presentations #}

    {% if app.user %}

      <div class="mb-5">

          {% set user_project_presentations = app.user.createdPresentations %}

            {% if user_project_presentations | length > 0 %}

              {{ display.collection("", user_project_presentations | reverse, "user-presentations") }}

            {% endif %}

          {% set user_technic_presentations = app.user.createdTechnics %}

            {% if user_technic_presentations | length > 0 %}

              {{ displayTechnics.collection("Mes solutions présentées", user_technic_presentations | reverse, "hide-525") }} 

            {% endif %}
      
      </div>

    {% endif %}

    <h3 class="big-part-title text-center mb-5">Galerie des Solutions</h3>

    <div class="container col-lg-12 col-xxl-9 px-0">

      {% for category in categories %}

        {{ displayTechnics.collection(category.descriptionFr, category.technics | reverse, "", "hide-525") }}
        
      {% endfor %}
    
    </div>

    <div class="container col-lg-12 col-xxl-9 px-0 mb-md-4 mb-lg-5">

      <div id="key-figures" class="key-figures alert alert-success" role="alert">

        <h4 class="text-center alert-heading my-4">👉 Chiffres Clés - le travail devant nous 😁</h4>


        <p class="text-center">Les émissions carbone générées par le secteur aéronautique<br>représententent <b>à elles seules 2 à 3 % des émissions mondiales.</b> <br><span class="annotation">Source : OACI; ADEME (cité par  <a href="https://www.greenly.earth/blog-fr/empreinte-carbone-vol-en-avion" target="_blank" rel="noopener noreferrer">greenly.earth</a> )</span></p>

        <p class="text-center">Le secteur doit <b>réduire son impact carbone d'environ 38 %<br>entre 2019 et 2035</b> pour atteindre les objectifs de réduction. <br><span class="annotation">Source : Science Based Targets (SBTi) - Aviation Guidance (août 2021) (cité par <a href="https://group.bnpparibas/actualite/quel-plan-de-vol-pour-une-aviation-durable" target="_blank">bnpparibas</a>)</span></p>

        
        <p class="text-center">Mais les émissions <b>risquent d’augmenter</b> avec la croissance du trafic aérien.<br>Elles pourraient atteindre <b> 5 %</b> si aucune action n’est entreprise. <br><span class="annotation">Source : GIEC (cité par  <a href="https://group.bnpparibas/actualite/quel-plan-de-vol-pour-une-aviation-durable" target="_blank">bnpparibas</a>)</span></p>

        <p class="text-center my-4">👉 Donc il y a du pain sur la planche. <b>Répertorions les solutions envisageables</b> 👈</p>

      </div>
          
      <style>


        .key-figures{

          background-color: #f3fffa;
        }


        .key-figures p{

          font-size: 18px;
        }


        .key-figures .annotation{

          font-size: 14px;
        }


                
        @media screen and (max-width: 580px) {

          .key-figures p{

            font-size: 17px;
          }


          .key-figures .annotation{

            font-size: 13px;
          }

        }
      
      
      
      </style>  
      
    </div>

    {# {{ display.collection("Galerie des Projets", lastInsertedProjects, "", "hide-525") }} #}

  </div> 

{% endblock %}