{% extends 'base.html.twig' %}

{% block title %}Flycore{% endblock %}

{% block stylesheets %}
  <link href="/css/titled_projects_collection.css" rel="stylesheet">
  <link href="/css/show_more_less_button.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}<script src="/js/show_more_less_button.js"></script>
{% endblock %}

{% import "utilities/_macro_titled_collection.html.twig" as display %}

{% block body %}

  <div class="page-container container-lg px-0 px-lg-3">

     <div id="homepage-jumbotron-struct-container" class="px-0 px-md-4 px-lg-4 col-xxl-11">

        {% include "home/_jumbotron.html.twig" %}

        <style>


          @media screen and (min-width: 820px) {

            #homepage-jumbotron-struct-container{
              margin-top: 3rem;
              margin-bottom: 6rem;
              
            }
            
          }

        </style>

      </div>

  </div> 

{% endblock %}