{% extends 'base.html.twig' %}

{% block title %}Le projet{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1 style="color: green;">Bienvenue !</h1>

        <section>

            <h2 style="color: green;">Le projet</h2>

                <p>
                    Flycore.org est une initiative visant à <b>répertorier les techniques et les projets qui contribuent à réduire l'empreinte carbonne du secteur aéronautique</b>.

                </p>

                <p>

                    Nous souhaitons que le secteur aéronautique devienne <b>plus durable pour l'intérêt et le plaisir de tous</b>.

                </p>

        </section>

        <section>

            <h2 style="color: green;">Participer</h2>

            <p class="">

               <b>Le site flycore.org a besoin de votre aide pour être amélioré</b>. Toutes vos idées, critiques, et remarques sont bienvenues. Vos contributions sur le site sont également <b>bienvenues</b>.
    
            </p>

            <p class="">

               Pour toute suggestion ou demande, vous pouvez nous <a class="fw-bold" href="{{path('contact_website')}}">contacter ici</a>.
    
            </p>

        </section>

    </div>

{% endblock %}
