{% extends 'base.html.twig' %}

{% block title %}Crédits et Remerciements{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1 class="pt-3 pt-md-5" style="color: green;">Crédits et Remerciements</h1>

        <section class="">

            <h2>Remerciements</h2>

                <div class="ps-md-3">

                    <p>
                        • À chaque personne qui contribue sur le site. Il ne se développera pas sans vous. 
                    </p>

                    <p>
                        • Merci également à tous les contributeurs du web qui partagent des outils qu'ils ont créés. Ce site n'aurait pu être créé sans vous.
                    </p>

                    <p>
                        • Remerciements spéciaux pour le serveur Discord <a href="https://discord.com/invite/qCPwpN7ETJ">Le Coin des Pilotes</a> et ses administrateurs. Vous avez accueilli le projet avec enthousiasme et vos encouragements donnent de la motivation pour développer le site.
                    </p>

                </div>

        </section>

        <section>

            <h2 class="">Crédits</h2>

            {# The noun project #}

            <div class="ps-md-3">

                <h5 class="mb-3">Images en provenance du site <a href="https://www.thenounproject.com" target="_blank" rel="noopener noreferrer"><b>thenounproject.com</b></a> :</h5>

                <ul>
                    <li>plane, by regara</li>
                </ul>
            
            
            </div>

        </section>

        <section>

            <h2 class="">Technologies utilisées</h2>

            <div class="ps-md-3">

                <p>
                Ce site web est fabriqué avec le <a href="https://symfony.com/" target="_blank" class="fw-bold"> Framework PHP Symfony 🚀</a>
                </p>
            </div>

        </section>

    </div>

{% endblock %}
