{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1>Conditions générales d'utilisation</h1>

        <p>Date de dernière mise à jour : le 29 juillet 2022.</p>

        <section>

            <h2>Exactitude et complétude des informations présentées</h2>

            <p>
                Flycore.org souhaite fournir une information de qualité à tous ses utilisateurs, mais ne peut garantir l'exactitude et la complétude des informations présentées par ses utilisateurs créateurs de contenus en tous genres sur le site. En particulier, des données peuvent évoluer dans le temps et ne pas être mises à jour sur le site.
            </p>

            <p>
                Soyez prudents dans vos interprétations des contenus, vérifiez les sources, recoupez les informations, et informez-vous avec d'autres personnes ou sites web de référence.
            </p>

        </section>

        <section>
                
            <h2>Types de projets acceptés sur le site</h2>

                <p>
                    Seul les projets dont l'objectif est lié à une démarche de réduction des émissions de gaz à effet de serre dans le domaine de l'aéronautique sont acceptés sur le site.
                </p>

                <p>
                    La présentation d’un projet est possible pour tout utilisateur inscrit sur le site. En revanche la publication de ce projet sera soumise à une étape de validation préalable, effectuée pas des administrateurs du site, qui décident, de manière discrétionnaire, rétroactive, et sans indemnité aucune, si le projet peut ou non faire l’objet d’une publication sur le site, et sans obligation de justifier leur décision.
                </p>

                <p>

                    Les administrateurs du site se réservent le droit de demander aux présentateurs de projets tous les compléments et précisions qu’ils estimeront nécessaires pour décider si la présentation de projet est publiable ou non.

                </p>

        </section>

        <section>

            <h2>Exemples de projets non acceptés sur le site</h2>

            <ul>
                
                <li class="">Projets qui ne sont pas en rapport avec le domaine de l'aéronautique durable.</li>

                <li class="">Projets dont l'objectif est évasif, vague, ou indéfini.</li>

                <li class="">Projets qui ne sont pas en conformité avec la loi française et les règlements français en vigueur, ou en conformité avec la loi ou les réglementations en vigueur dans le pays d'utilisation du site.</li>

                <li class="">Projets qui contiennent un objectif ou une procédure visant à soutenir des individus ou des organisations qui ne sont pas en conformité avec la loi française, ou en conformité avec la loi en vigueur dans le pays d'utilisation du site.</li>

                <li class="">Projets dangereux pour les participants.</li>

                <li class="">Projets dont l'objectif est d'acheter ou de vendre un ou plusieurs objets matériels ou immatériels (sauf sur dérogation demandée au préalable aux administrateurs du site, par exemple à des fins d'oeuvres de mécénat. Pour effectuer une demande de dérogation, utilisez le formulaire général de contact du site, accessible à partir du bas de page du site).</li>

                <li class="">Projets qui contiennent un objectif ou une procédure qui sont susceptibles d'engendrer un ou plusieurs des comportements suivants : violence; haine; aggression; menace; insulte; intimidation; harcèlement; discrimination; diffamation; non respect de la vie privée, et cela envers tout individu; groupe d'individus; ou organisation de toute sorte. 

                    <br><br>
                    En particulier, sont refusés les projets qui contiennent au moins une incitation à la violence ou à la haine; ou des menaces, envers une personne ou un groupe en raison de son origine ethnique, ses idées, sa religion, son handicap, son sexe, son genre, son orientation sexuelle, son âge, sa nationalité, ou son apparence physique.

                </li>

            </ul>

        </section>

        <section>
            
            <h2>Exemples de présentations de projets non acceptées</h2>

            <ul>
                <li>Les présentations de projets qui délivrent une information incomplète, partielle, inexacte, incohérente, ou incompréhensible. Par exemple les "projets" sans objectif clairement présenté ou sans aucune description.

                </li>
            </ul>

        </section>

        <section>

            <h2>Contenus non acceptés dans les présentations de projets</h2>

            <p>
                Les contenus des présentations de projets, sous toutes formes et médias possibles (y compris textes; images; vidéos; liens hypertexte; fichiers numériques), y compris les éventuels commentaires apportés par des tiers, ne sont pas acceptés sur le site lorsqu'ils contiennent des éléments parmi les suivants :
            </p>

            <ul>
                        
                <li class="">

                    Contenus qui ne sont pas en conformité avec la loi française, ou la loi en vigueur dans le pays d'utilisation du site.

                    <br><br>

                    En particulier les contenus qui contiennent au moins une incitation à la violence ou à la haine; ou des menaces, envers une personne ou un groupe en raison de son origine ethnique, ses idées, sa religion, son handicap, son sexe, son genre, son âge, sa nationalité, son orientation sexuelle, son identité sexuelle, ou son apparence physique.

                </li>

                <li class="">Contenus qui sont susceptibles de déclencher un ou plusieurs des comportements suivants : violence; haine; aggression; menace; insulte; intimidation; harcèlement; discrimination; diffamation; non respect de la vie privée, envers un ou plusieurs individus; groupes d'individus; ou organisations de toute sorte. 

                </li>

                
                <li class="">

                    Contenus visant à soutenir des individus ou des organisations qui ne sont pas en conformité avec la loi française ou la loi du pays d'utilisation du site.

                </li>

                <li class="">
                    Contenus qui contiennent de la pornographie, de la nudité, ainsi que les contenus à caractère sexuels, sauf sur dérogation demandée au préalable à des fins pédagogiques et dans le cadre de la loi française, ou de la loi en vigueur dans le pays d'utilisation du site.
                </li>

                <li class="">
                    Contenus qui ne respectent pas les droits d'auteurs (utilisez seulement des contenus que vous avez créés ou que vous êtes autorisés à utiliser). 
                </li>

                <li class="">
                    Contenus trompeurs : sont refusés les titres de projets; descriptions de projets; mot-clés; images et autres médias utilisés qui engendrent l'ambiguïté, la tromperie, ou la confusion, par exemple pour attirer plus d'utilisateurs, ou attirer certains types d'utilisateurs.
                </li>

                <li class="">
                    Contenus qui contiennent des informations inexactes.
                </li>

                <li class="">
                    Contenus qui divulguent des informations privées ou confidentielles.
                </li>

                <li class="">
                    Contenus qui mettent en danger le bien-être émotionnel ou physique des mineurs. Un mineur est une personne n'ayant pas atteint l'âge minimum légal de la majorité, c'est-à-dire ayant moins de 18 ans en France, ainsi que dans d'autres pays.
                </li>

            </ul>


        </section>

        <section>

            <h2>Modification de présentations de projets par des administrateurs du site</h2>

            <p>

                Les catégories dans lesquelles un projet est présenté sont susceptibles d'être modifiées par des administrateurs du site. De même, les mots-clés d'un projet sont susceptibles d'être modifiés par des administrateurs du site. Ces mesures visent à faciliter la découverte et le tri de projets qui intéressent les utilisateurs du site.
            
            </p>

            <p>
                Par exemple, un projet de création d'avion électrique est suceptible d'être intégré dans la catégorie "fabriquer" s'il ne l'était pas déjà.
            </p>

            <p>
                Par exemple, un projet de création d'avion électrique est suceptible d'être associé au mot-clé "aviation" s'il ne l'était pas déjà.
            </p>

            <p>
                L'orthographe, et plus généralement les textes de toute présentation de projet sont également susceptibles d'être modifiés par des administrateurs du site. Cette mesure vise à améliorer la lisibilité, la cohérence, et la qualité générale des présentations de projets présentes sur le site.
            </p>

            <p>
                Ces mesures sont effectuées sans avertissement préalable.
            </p>

        </section>

        <section>
            <h2 class="">Usurpations d'identités</h2>

            <p class="">

                Les comptes créés, ainsi que les contenus présentés, qui usurpent l'identité d'un individu; d'une organisation; ou d'un groupe d'individus; ou qui crééent l'ambiguïté, la tromperie, ou la confusion avec un individu; une organisation; ou un groupe d'individus, par exemple par imitation de logo; ou imitations de noms, sont supprimés conformément à nos règles en matière d'usurpation d'identité.

            </p>

            <p class="">
            
                Exemples : 

            </p>

            <ul>

                <li> 
                    
                    Comptes dont le nom ou les images sont identiques à ceux d'un autre compte, la seule différence étant par exemple un espace inséré dans un nom; ou un zéro remplaçant la lettre O.
                    
                </li>
    
                <li>

                    Créations de comptes avec utilisation d'images ou autres informations personnelles d'une tierce personne ou organisation, dans le but de tromper le public et de se faire passer pour cette personne ou cette organisation. 	
                
                </li>

            </ul>

        </section>

        <section>

            <h2 class="">Suspensions et suppressions de présentations de projets</h2>

            <p class="">

                Les administrateurs se réservent le droit de suspendre provisoirement, ou de supprimer, sans préavis ni indemnité, ni droit à remboursement, toute présentation de projet qui ne serait pas conforme aux présentes conditions d'utilisation du site.

            </p>

            <h2 class="">Suppressions de présentations de projets non mises à jour</h2>

            <p class="">

                Au bout de 2 ans de non modification d'une présentation de projet, les administrateurs du site se réservent le droit de supprimer cette présentation de projet. Des emails préalables sont susceptibles d'être envoyés au créateur de la présentation, et cela plusieurs jours avant la date de suppression prévue, afin qu'il confirme et renouvelle la validité de sa présentation de projet, s'il le souhaite.

            </p>

        </section>

        <section>

            <h2 class="">Suspensions et suppressions de comptes utilisateurs</h2>

            <p class="">

                Les administrateurs du site se réservent le droit de suspendre ou de supprimer tout compte utilisateur dont au moins une activité contrevient aux règles mentionnées dans les présentes conditions générales d'utilisation.
    
            </p>

        </section>

        <section>

            <h2 class="">Signaler des abus</h2>

            <p class="">

                Signaler des contenus problématiques est possible et encouragé. Un contenu problématique est un contenu susceptible de contrevenir aux présentes conditions générales d'utilisation du site. Pour signaler un contenu problématique, vous pouvez utiliser les possibilités suivantes : 
    
            </p>

            <ul class="">
                
                <li class="">

                    cliquer sur le bouton "signaler un abus" situé sur chaque page de projet.
                
                </li>

                <li class="">

                    écrire à l'administration du site, en utilisant le formulaire général de contact accessible en bas de page du site.


                </li>

            </ul>

        </section>

        <section>

            <h2>Tierces présentations de projets</h2>

            <h4>Définitions :</h4>

            <ul>
                <li>une tierce présentation de projet est une présentation qui n'est pas créée par l'équipe de ce projet.</li>

                <li>un présentateur tiers est un présentateur de projet qui ne fait pas directement partie de l'équipe de ce projet.</li>

            </ul>

            <h4>Autorisations :</h4>

            <p>
                
                Les tierces présentations de projets sont autorisées sur le site lorsque les informations présentées rapportent une description objective du projet en question.
                
            </p>

            <p>
                La possibilité de créer des tierces présentations peut conduire à des projets qui sont présentés plusieurs fois sur le site (doublons de présentations). Dans ce cas, les règles concernant les doublons de présentation s'appliquent. Ces règles sont présentées dans les présentes conditions d'utilisation du site.
            </p>
             
        </section>

        <section>

            <h2 class="">Doublons de présentations de projets</h2>

            <h4>Définition :</h4>

            <p> Est appelée "Doublon de présentation de projet" toute présentation d'en projet déjà présenté sur le site.</p>

            <h4>Règles concernant les doublons de présentations :</h4>

            <p class="">

                Lorsque qu'un même projet est présenté plusieurs fois sur le site, les administrateurs du site se réservent le droit de sélectionner une seule de ces présentations, ou fusionner plusieurs de ces présentations, ou en recréer une qui remplace toutes les autres, afin de maintenir une base de données la plus qualitative et utile pour tous.

                Cette politique peut conduire à retirer de la publication, sur le site, des doublons de présentation de projets.

            </p>

        </section>

        
        <section>
                
            <h2>Types de techniques acceptées sur le site</h2>

                <p>
                    à venir.
                </p>

        </section>

        <section>

            <h2 class="">Propriété intellectuelle</h2>

            <h4>Propriété du site et de ses contenus (hors contenus créés et diffusés sous licence creative commons)</h4>

            <p>

                Les droits conférés à l’utilisateur en vue de l’utilisation du site et des services fournis par l'administration du site n’emportent aucune cession ni aucune autorisation d’exploiter ou d’utiliser l’un quelconque des éléments du site.
            
            </p>


            <p>
            
                Tous les éléments de propriété intellectuelle, et notamment les marques, dessins, textes, liens hypertextes, logos, images, vidéo, éléments sonores, logiciels, mise en page, bases de données, codes… etc., les contenus sur le site sont protégés par le droit national et international de la propriété intellectuelle. Ils restent la propriété exclusive de la direction du site et/ou de ses partenaires.     

            </p>


            <p>

                Par conséquent, sauf autorisation préalable et écrite de l'administration du site et/ou de ses partenaires, l’utilisateur ne peut procéder à une quelconque reproduction, représentation, réédition, redistribution, adaptation, traduction et /ou transformation partielle ou intégrale, ou un transfert sur un autre site de tout élément composant le site.
            
            </p>

            <p>

                L’utilisateur reconnaît et prend connaissance du fait que le non-respect de cette interdiction constitue un acte de contrefaçon répréhensible tant civilement que pénalement.

            </p>



            <h4>Contenus diffusés par les utilisateurs (hors contenus créés et diffusés sous licence creative commons)</h4>


            <p>

                L’utilisateur concède à la direction du site une licence d’utilisation des droits de propriété intellectuelle attachés aux contenus fournis par l’utilisateur concerné aux fins de diffusion sur le site.
            
            </p>

            <p>

                Cette licence comprend notamment le droit pour l'administration du site de reproduire, représenter, adapter, traduire, numériser, utiliser ou sous-licencier les contenus concernant l’utilisateur (informations, images, vidéos, description, critères de recherche, etc.) sur tous supports de communication électronique dans le cadre de la fourniture de ses services.

            </p>

            <P>
            

                Cette licence autorise notamment l'administration du site à présenter les projets sur des sites partenaires, ou à autoriser des sites partenaires à récupérer les données de ces projets afin de les présenter sur leurs propres supports de communication en ligne ou hors ligne.

            
            </P>
            
            <P>

                L’utilisateur autorise expressément l'administration du site à modifier lesdits contenus afin de respecter la charte graphique du site ou des autres supports de communication visés ci-dessus et/ou de les rendre compatibles avec ses performances techniques ou les formats des supports concernés.

            
            </P>

            <P>
            
                Ces droits sont concédés pour le monde entier et pour la toute la durée d’exécution des présentes conditions générales entre l’utilisateur et la direction du site.

 
            </P>

            <P>
            

                L’utilisateur s’interdit également de copier, reproduire, ou autrement utiliser les contenus relatifs aux autres utilisateurs autrement que pour les stricts besoins d’utilisation des services à des fins personnelles et privées.
            
            </P>

            <h4>Contenus sous licence creative commons</h4>

            <p>

                Certains contenus du site sont explicitement utilisables sous licence d'utilisation Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International (CC BY-SA 4.0). 
            
            </p>

            <p>

                Les utilisateurs créateurs de contenus sont informés sur le site lorsqu'ils s'apprêtent à créer un contenu qui sera diffusé sous licence d'utilisation creative commons.
            
            </p>

            <ul>

                <li>Le résumé officiel de cette licence est disponible à cette adresse : https://creativecommons.org/licenses/by-sa/4.0/deed.fr</li>

                <li>La forme officielle complète de cette licence est quant à elle disponible à cette adresse : https://creativecommons.org/licenses/by-sa/4.0/legalcode.fr</li>

                <li>Un résumé de cette licence, tel que présenté sur le site officiel https://creativecommons.org, est disponible ci-dessous.</li>
        
            </ul>


            <h5>Contenus sous licence creative commons - résumé de la licence d'utilisation au 29 - 07 - 2022 :</h5>


            <p>Vous êtes autorisé à :</p>

            <ul>

                <li>Partager — copier, distribuer et communiquer le matériel par tous moyens et sous tous formats</li>
                <li>Adapter — remixer, transformer et créer à partir du matériel</li>
                <li> pour toute utilisation, y compris commerciale.</li>
            
            </ul>

            <p>Cette licence est acceptable pour des œuvres culturelles libres.</p>

            <p>L'Offrant ne peut retirer les autorisations concédées par la licence tant que vous appliquez les termes de cette licence.</p>

            <p>Selon les conditions suivantes :</p>


            <ul>
                
                <li>Attribution — Vous devez créditer l'Œuvre, intégrer un lien vers la licence et indiquer si des modifications ont été effectuées à l'Oeuvre. Vous devez indiquer ces informations par tous les moyens raisonnables, sans toutefois suggérer que l'Offrant vous soutient ou soutient la façon dont vous avez utilisé son Oeuvre.</li>

                <li> Partage dans les Mêmes Conditions — Dans le cas où vous effectuez un remix, que vous transformez, ou créez à partir du matériel composant l'Oeuvre originale, vous devez diffuser l'Oeuvre modifiée dans les même conditions, c'est à dire avec la même licence avec laquelle l'Oeuvre originale a été diffusée.</li>
            
            </ul>

            <p>Pas de restrictions complémentaires — Vous n'êtes pas autorisé à appliquer des conditions légales ou des mesures techniques qui restreindraient légalement autrui à utiliser l'Oeuvre dans les conditions décrites par la licence.</p>


            <p>Notes :</p>

            <ul>

                <li>Vous n'êtes pas dans l'obligation de respecter la licence pour les éléments ou matériel appartenant au domaine public ou dans le cas où l'utilisation que vous souhaitez faire est couverte par une exception.</li>

                <li>Aucune garantie n'est donnée. Il se peut que la licence ne vous donne pas toutes les permissions nécessaires pour votre utilisation. Par exemple, certains droits comme les droits moraux, le droit des données personnelles et le droit à l'image sont susceptibles de limiter votre utilisation.</li>

            </ul>

        </section>

    </div>

{% endblock %}
