
.technic-card{

    position: relative;
    width : 210px;
    height : 250px;
}


.technic-card:hover{

    box-shadow: 1px 1px 5px 1px rgb(238, 237, 237);
    border-radius: 3pxrgb(251, 251, 251)
}



.technic-card .image-container{

    height: 140px;
    padding: 10px 10px 10px 10px;

}

.technic-card .image-container img{

    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;

}

.other-info-container{

    padding: 0 5px 10px 5px;
    text-align: center;

}

.name{
    
    font-weight: bold;

}

.help-us-stamp{
    position: absolute;
	color: #08462F;
	border: 0.5rem solid #35679D;
	transform: rotate(-14deg);
    top: 25%;
    left: 15%;
    background-color: white;
    font-weight: bold;
    padding: 7px;
    border-radius: 8px;
  
}


.edit-page-icon{

    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
  
}


.edit-page-icon:hover{

    background-color: beige;
  
}




@media screen and (max-width: 580px) {

    .technic-card{

        margin-right : 20px;
    }


}